@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
    background-color: #2b2b2b;
    color: #ecf0f1;
}

body.dark-mode .plans {
    background-color: #444;
}

header {
    background-color: #2c2c2c;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #00ffcc;
    transition: border-bottom-color 0.5s ease, background-color 0.5s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
}

.hero {
    background-size: cover;
    color: white;
    text-align: center;
    padding: 150px 20px 100px;
    animation: fadeIn 1.5s ease-in-out;
}

.plans {
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
}

.card {
    background-color: #ecf0f1;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 450px;
    position: relative;
    transition: transform 0.3s;
    text-align: left;
}

.card h1 {
    font-size: 4em;
    margin-bottom: 10px;
}

.card span {
    display: block;
    font-size: 7em;
    margin-bottom: 10px;
}

.card p {
    text-align: left;
}

.card-alt {
    background-color: #ecf0f1;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 900px;
    position: relative;
    transition: transform 0.3s;
    text-align: left;
    margin-top: 20px;
}

.card-alt h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.card-alt span {
    display: block;
    font-size: 5em;
    margin-bottom: 10px;
}

.card-alt p {
    text-align: left;
    font-size: 1.2em;
}

body.dark-mode .card, body.dark-mode .card-alt {
    background-color: #444;
    color: #ecf0f1;
}

.fi {
    font-size: 2em;
}

.photo-slider {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
    overflow: hidden; /* 이미지가 잘리도록 설정 */
    border-radius: 8px; /* 둥근 모서리 추가 */
}

.slide img {
    width: auto;
    max-width: 1500px;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-button.prev {
    left: 0;
}

.slider-button.next {
    right: 0;
}

section.card {
    background: linear-gradient(to right, #888888, #333333);
    border-radius: 24px 24px 24px 48px;
    padding: 48px 48px 48px 308px;
    margin: 84px auto;
    min-width: 640px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    position: relative;
    box-shadow: 5px 0 0 0 rgba(204, 204, 204, 0.3), -5px 0 0 0 rgba(204, 204, 204, 0.3), 0 5px 0 0 rgba(204, 204, 204, 0.3);
}

section.card .text-content {
    display: flex;
    flex-direction: column;
    width: calc(60vw - 192px);
}

section.card .text-content h3 {
    margin: 0;
    font-size: 1.5em;
    max-width: 20ch;
    color: #fff;
}

section.card .text-content p {
    margin: 25px 0 24px;
    color: #fff;
}

section.card .text-content a {
    border: 3px solid #f2f2f2;
    color: #ffffff;
    align-self: flex-start;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    transition: 400ms all;
}

section.card .text-content a:hover {
    background: #051c5e;
    color: white;
}

section.card .visual {
    width: 240px;
    height: 100%;
    position: absolute;
    top: -24px;
    left: 24px;
    overflow: hidden;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.card .visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article {
    margin: auto;
    display: block;
    width: calc(60vw + 248px);
    max-width: calc(920px + 248px);
    min-width: calc(640px + 248px);
}

@media all and (max-width: 1100px) {
    body {
        padding: 96px 48px 24px;
    }
    article {
        width: 100%;
        min-width: 100%;
    }
    section.card {
        min-width: 100%;
    }
    section.card .text-content {
        width: 100%;
    }
}

@media all and (max-width: 720px) {
    body {
        padding: 48px 24px 0;
    }
    section.card {
        margin: 64px 0;
        padding: 88px 36px 36px;
        flex-direction: column;
        border-radius: 24px;
    }
    section.card .text-content h3 {
        max-width: calc(100% - 150px);
        font-size: 1em;
    }
    section.card .text-content p, section.card .text-content a {
        font-size: 0.8em;
    }
    section.card .visual {
        width: 150px;
        height: 150px;
        right: 16px;
        left: auto;
        border-radius: 50%;
    }
    section.card .visual img {
        width: 100%;
        height: auto;
    }
}
